*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body{
      background-color: aquamarine;
  }
  
  header img{
      background-color: white;
      ;
  }

  header span{
      font-size: 30px;
      font-family: Arial;
           
  }